In [3]:
import pandas as pd

In [4]:
pd.set_option('display.max_colwidth', None)
tweet_dataset='gg2013.json/gg2013.json'
#movie_name_dataset='titles.ratings.tsv.gz'
#actor_name_dataset='name.basics.tsv.gz'
df=pd.read_json(tweet_dataset)

In [5]:
df

,text,user,id,timestamp_ms
0,JLo's dress! #eredcarpet #GoldenGlobes,"{'screen_name': 'Dozaaa_xo', 'id': 557374298}",290620657987887104,2013-01-14 00:45:38
1,What's making Sofia Vergara's boobs stay like that? Magic? Witchcraft? #GoldenGlobes,"{'screen_name': 'theAmberShow', 'id': 14648726}",290620657887219713,2013-01-14 00:45:38
2,RT @FabSugar: Kerry Washington is EVERYTHING. Dying over her Miu Miu gown! @goldenglobes #goldenglobes http://t.co/3feH7MvO,"{'screen_name': 'SweetyPW', 'id': 35498686}",290620657828524032,2013-01-14 00:45:38
3,Anne Hathaway has got me living. #GoldenGlobes,"{'screen_name': '_NicoleEdwards', 'id': 144430208}",290620657799159809,2013-01-14 00:45:38
4,Jennifer Lopez's lace dress? Thoughts? #GoldenGlobes,"{'screen_name': 'lolaogunnaike', 'id': 134953223}",290620657778188288,2013-01-14 00:45:38
...,...,...,...,...
174638,RT @authorViviAnna: I was sad that Mandy Patinkin didn't win #GoldenGlobes he is so good in Homeland,"{'screen_name': 'dana1204', 'id': 18091543}",290675889379876864,2013-01-14 04:25:07
174639,RT @_ItzelMartinez_: Jennifer Lawrence aceptando su premio #GoldenGlobes ❤\nhttp://t.co/c1xqCz4W,"{'screen_name': 'IamTrisEverdeen', 'id': 551264918}",290675889128230914,2013-01-14 04:25:07
174640,"Golden Globes, lots of fashion messes...but glad Argo won. Really good movie, along w Moonrise Kingdom and Salmon Fishing Yeman.","{'screen_name': 'Dpharmakis23', 'id': 852045842}",290675893024747523,2013-01-14 04:25:08
174641,Did they have mug shots at the golden globes?! DID THEY?! #localnews http://t.co/KA8Nsh2h,"{'screen_name': 'reynaramirez22', 'id': 22732662}",290675888763314178,2013-01-14 04:25:08
174642,"Says @BenAffleck: ""I also didn't get the Acting Nomination...no one's saying I got snubbed there!"" #pressroom #GoldenGlobes","{'screen_name': 'goldenglobes', 'id': 18667907}",290675893494484992,2013-01-14 04:25:08

In [4]:
#actor_name_dataset='name.basics.tsv.gz'
#actor_name_df=pd.read_csv(actor_name_dataset, sep='\t', compression='gzip')

In [5]:
#actor_name_df.head(5)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0050419,tt0031983,tt0072308,tt0053137"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0037382,tt0038355,tt0075213"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0049189,tt0054452,tt0056404"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0077975,tt0080455,tt0072562"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0050986,tt0050976,tt0083922"

In [9]:
actor_name_df=actor_name_df[actor_name_df['deathYear']=='\\N']
actor_name_df.head(5)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0049189,tt0054452,tt0056404"
46,nm0000047,Sophia Loren,1934,\N,"actress,soundtrack","tt0058335,tt0054749,tt0060121,tt0076085"
82,nm0000083,Alan Miller,\N,\N,"editor,writer,director","tt0969216,tt27504185,tt0320978,tt0424773"
83,nm0000084,Gong Li,1965,\N,"actress,producer,miscellaneous","tt0101640,tt0473444,tt0397535,tt0430357"
84,nm0000085,Henner Hofmann,1950,\N,"cinematographer,producer,camera_department","tt1825758,tt0097738,tt0113482,tt0097523"

In [12]:
#actor_name_df=actor_name_df[['primaryName']].drop_duplicates(subset='primaryName',keep='first')
#actor_name_df

                 primaryName
2            Brigitte Bardot
46              Sophia Loren
82               Alan Miller
83                   Gong Li
84            Henner Hofmann
...                      ...
12923123       David Gluzman
12923125       Sambit Mishra
12923127       Essias Loberg
12923128  Harikrishnan Rajan
12923129         Aayush Nair

[9825380 rows x 1 columns]

In [14]:
#actor_name_df.to_csv('alive_unique_actors.csv')

In [ ]:
#actor_df=pd.read_csv('alive_unique_actors.csv')
#actor_df.head()

In [ ]:
#=actor_name_df[actor_name_df['primaryName']]
#.drop_duplicates(subset='primaryName',keep='First')

In [13]:
#actor_name_df[actor_name_df['primaryName']=='Kerry Washington']

             primaryName
859473  Kerry Washington

In [1]:
# remove tweets without names. movies
# remove links
# column of list of actors
# column of list of movies
# tweet -> "nominee" -> []
# tweet -> with a word "winner" -> [list of actors]
# list of things we should parse on
# # categories-> (probably through imdb)
# # winner -> win, won, (didn't won), 
# look for nltk/nlp library for logical relation of words? (ask TA)
# https://developer.imdb.com/non-commercial-datasets/
# datastructure for string matching

In [10]:


def filter_rows_by_keywords(df, column_name, keywords):
    
    pattern = '|'.join(keywords)
    return df[df[column_name].str.contains(pattern, case=False, na=False)]




keywords = ['best movie', 'motion picture', 'nominee', 'best performance', 'best actor','nominees']

In [11]:
import json

# Open and read the JSON file
with open('gg2013answers.json', 'r') as file:
    data = json.load(file)

# Extract award names
award_names = list(data["award_data"].keys())
print(award_names)

['best screenplay - motion picture', 'best director - motion picture', 'best performance by an actress in a television series - comedy or musical', 'best foreign language film', 'best performance by an actor in a supporting role in a motion picture', 'best performance by an actress in a supporting role in a series, mini-series or motion picture made for television', 'best motion picture - comedy or musical', 'best performance by an actress in a motion picture - comedy or musical', 'best mini-series or motion picture made for television', 'best original score - motion picture', 'best performance by an actress in a television series - drama', 'best performance by an actress in a motion picture - drama', 'cecil b. demille award', 'best performance by an actor in a motion picture - comedy or musical', 'best motion picture - drama', 'best performance by an actor in a supporting role in a series, mini-series or motion picture made for television', 'best performance by an actress in a supporting role in a motion picture', 'best television series - drama', 'best performance by an actor in a mini-series or motion picture made for television', 'best performance by an actress in a mini-series or motion picture made for television', 'best animated feature film', 'best original song - motion picture', 'best performance by an actor in a motion picture - drama', 'best television series - comedy or musical', 'best performance by an actor in a television series - drama', 'best performance by an actor in a television series - comedy or musical']

In [31]:
len(award_names)

26

In [12]:
keywords=keywords+award_names

In [13]:
filtered_df = filter_rows_by_keywords(df, 'text', keywords)
filtered_df.head()

,text,user,id,timestamp_ms
61,RT @TwitterMovies: Nominee @OfficialAdele on the red carpet! #GoldenGlobes http://t.co/55Jw0hpm,"{'screen_name': 'laurenweblin', 'id': 300707389}",290620660986830848,2013-01-14 00:45:39
508,RT @TwitterMovies: Nominee @OfficialAdele on the red carpet! #GoldenGlobes http://t.co/55Jw0hpm,"{'screen_name': 'flyingeagle2223', 'id': 21351722}",290621071978287104,2013-01-14 00:47:17
1091,Nominee Anne Hathaway following the trend of white! #GoldenGlobes #goldenglobes2013 #globes #glamcam #eredcarpet #FashionPolice,"{'screen_name': 'whitgetitwhit', 'id': 202087918}",290621470760120320,2013-01-14 00:48:52
1381,"#GoldenGlobes fashion: Best Actress nominee Jennifer Lawrence wears red Dior, Jessica Chastain pale blue http://t.co/DwGNP6vV","{'screen_name': 'moviesndtv', 'id': 465329295}",290621551206858752,2013-01-14 00:49:13
1428,RT @TwitterMovies: Nominee @OfficialAdele on the red carpet! #GoldenGlobes http://t.co/55Jw0hpm,"{'screen_name': 'belufleita', 'id': 28697633}",290621574321680384,2013-01-14 00:49:17

In [15]:

# from wordcloud import WordCloud
# import matplotlib.pyplot as plt


# text = " ".join(row for row in filtered_df['text'])

# wordcloud = WordCloud(background_color='white', width=800, height=800).generate(text)

# # Display the generated image using matplotlib
# plt.figure(figsize=(10, 10))
# plt.imshow(wordcloud, interpolation='bilinear')
# plt.axis('off')
# plt.show()

AttributeError: 'TransposedFont' object has no attribute 'getbbox'

In [16]:

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from collections import Counter


nltk.download('punkt')
nltk.download('stopwords')





text = " ".join(row for row in filtered_df['text']).lower()


tokens = word_tokenize(text)


filtered_tokens = [word for word in tokens if word.isalnum() and word not in stopwords.words('english')]


word_freq = Counter(filtered_tokens)


top_words = word_freq.most_common(10)

print(top_words)

[nltk_data] Downloading package punkt to /home/zafir/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /home/zafir/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

[('goldenglobes', 8421), ('best', 6578), ('rt', 5097), ('picture', 4302), ('motion', 4291), ('actor', 2377), ('http', 2295), ('comedy', 1745), ('drama', 1722), ('les', 1665)]

In [18]:

from nltk.util import bigrams




text = " ".join(row for row in filtered_df['text']).lower()

tokens = word_tokenize(text)

filtered_tokens = [word for word in tokens if word.isalnum() and word not in stopwords.words('english')]

bigram_list = list(bigrams(filtered_tokens))

bigram_counts = Counter(bigram_list)

top_bigrams = bigram_counts.most_common(10)

print(top_bigrams)

[(('motion', 'picture'), 4245), (('goldenglobes', 'rt'), 3083), (('goldenglobes', 'best'), 2319), (('best', 'actor'), 1999), (('rt', 'goldenglobes'), 1679), (('actress', 'motion'), 1281), (('best', 'motion'), 1220), (('comedy', 'musical'), 1216), (('les', 'miserables'), 1190), (('picture', 'drama'), 1150)]

In [19]:
filtered_df_awards = filter_rows_by_keywords(df, 'text', award_names)
filtered_df_awards.head()

,text,user,id,timestamp_ms
10770,The #GoldenGlobes are on now! Who do you think will take home the award for Best Motion Picture - Drama?,"{'screen_name': 'PsyQicInc', 'id': 562387235}",290625887748104192,2013-01-14 01:06:25
13819,Christoph Waltz - Best Performance by an Actor in a Supporting Role in a Motion Picture,"{'screen_name': 'golden_globes', 'id': 105991003}",290626743050575873,2013-01-14 01:09:49
14357,Best Performance by An Actor in A Supporting Role in A Motion Picture: Christoph Waltz (Django Unchained). #GoldenGlobes,"{'screen_name': 'ssetiawan', 'id': 48053374}",290626842111651841,2013-01-14 01:10:13
15661,:))) RT @larry411: BEST PERFORMANCE BY AN ACTOR IN A SUPPORTING ROLE IN A MOTION PICTURE is Christoph Waltz #GoldenGlobes,"{'screen_name': 'BrunetteStew', 'id': 106195417}",290626992229982208,2013-01-14 01:10:49
17173,"Maggie Smith - Best Performance by an Actress in a Supporting Role in a Series, Mini-Series or Motion Picture Made for Television","{'screen_name': 'golden_globes', 'id': 105991003}",290627420141260800,2013-01-14 01:12:31

In [21]:
best_keyword=['best']
filtered_df_best = filter_rows_by_keywords(df, 'text', best_keyword)
filtered_df_best.head()

,text,user,id,timestamp_ms
16,Why did I just flip out? Because one of the best people in the world showed up on the tv..Kristen Wiig #goldenglobes !,"{'screen_name': 'mo_JOE_marino', 'id': 286809109}",290620657170014208,2013-01-14 00:45:38
47,"Seacrest asked what Ben Affleck's kids wrote on his hands. Best use of ""I'd tell you but I'd have to kill you."" #GoldenGlobes #redcarpet","{'screen_name': 'StaceyWOMC', 'id': 518510715}",290620662043779072,2013-01-14 00:45:39
49,"RT @Loki_Page: #GoldenGlobes Times! We wish good luck tonight to Rachel Weisz, nominated for Best Actress. ""The Deep Blue Sea""","{'screen_name': 'QueenF1989', 'id': 117283451}",290620661959888896,2013-01-14 00:45:39
67,Blinded by Kerry Washington's Miu Miu dress and her gorgeous bling. We are in LOVE. #GoldenGlobes #bestdressed,"{'screen_name': 'snobswap', 'id': 247506902}",290620659837587456,2013-01-14 00:45:39
130,"Seacrest asked what Ben Affleck's kids wrote on his hands. Best use of ""I'd tell you but I'd have to kill you."" #GoldenGlobes #redcarpet","{'screen_name': 'staceyduford', 'id': 15548531}",290620663486631937,2013-01-14 00:45:40

In [22]:
filtered_df_best.shape

(18694, 4)

In [32]:







text = " ".join(row for row in filtered_df_best['text']).lower()


tokens = word_tokenize(text)


filtered_tokens = [word for word in tokens if word.isalnum() and word not in stopwords.words('english')]


bigram_list = list(bigrams(filtered_tokens))

best_bigrams = [bg for bg in bigram_list if bg[0] == "best"]


best_bigram_counts = Counter(best_bigrams)


top_best_bigrams = best_bigram_counts.most_common(26)

print(top_best_bigrams)

[(('best', 'actress'), 2107), (('best', 'supporting'), 2041), (('best', 'actor'), 2004), (('best', 'original'), 1341), (('best', 'motion'), 1225), (('best', 'director'), 1130), (('best', 'tv'), 597), (('best', 'screenplay'), 523), (('best', 'picture'), 521), (('best', 'animated'), 495), (('best', 'dressed'), 405), (('best', 'goldenglobes'), 393), (('best', 'television'), 332), (('best', 'foreign'), 263), (('best', 'comedy'), 254), (('best', 'drama'), 241), (('best', 'song'), 236), (('best', 'speech'), 218), (('best', 'movie'), 216), (('best', 'hosts'), 178), (('best', 'golden'), 166), (('best', 'acceptance'), 166), (('best', 'performance'), 151), (('best', 'part'), 145), (('best', 'show'), 130), (('best', 'buy'), 116)]

In [33]:

bigram_patterns = [bigram for bigram, count in top_best_bigrams]

def contains_top_bigram(text):
    tokens = word_tokenize(text.lower())
    text_bigrams = list(bigrams(tokens))
    return any(bg in text_bigrams for bg in bigram_patterns)

filtered_df_best_words = filtered_df_best[filtered_df_best['text'].apply(contains_top_bigram)]

In [34]:
filtered_df_best_words

,text,user,id,timestamp_ms
49,"RT @Loki_Page: #GoldenGlobes Times! We wish good luck tonight to Rachel Weisz, nominated for Best Actress. ""The Deep Blue Sea""","{'screen_name': 'QueenF1989', 'id': 117283451}",290620661959888896,2013-01-14 00:45:39
340,"RT @Zap2itRick: Can Kerry Washington be nominated for an Emmy for acting flattered that ""Fashion Police"" named her best dressed of the week? #GoldenGlobes","{'screen_name': 'ClumsyHibz', 'id': 219972432}",290620882890661888,2013-01-14 00:46:32
675,"Best dressed: Jessica Chastain, Jennifer Lawrence, Claire Danes, &amp; @azizansari in Kevin Dior. #goldenglobes","{'screen_name': 'accountess', 'id': 24418533}",290621162134851586,2013-01-14 00:47:39
694,Nicole Kidman is my best dressed so far. #goldenglobes,"{'screen_name': 'kellysaysthat', 'id': 25813647}",290621232280371200,2013-01-14 00:47:55
878,RT @_RickyMinaj: John Ham's penis for best dressed #GoldenGlobes #redcarpet,"{'screen_name': 'keishabee', 'id': 30136751}",290621308469932032,2013-01-14 00:48:14
...,...,...,...,...
174578,"Best Actor, Drama: Golden Globe For Film Goes To Daniel Day-Lewis http://t.co/uXGYSsN8","{'screen_name': 'HimadriGupta', 'id': 463891190}",290675884678070272,2013-01-14 04:25:06
174580,"Best Actor, Drama: Golden Globe For Film Goes To Daniel Day-Lewis http://t.co/CNlxQZMO","{'screen_name': 'LimpaGhosh', 'id': 464450433}",290675884510285825,2013-01-14 04:25:06
174605,"Jessica Chastain, Best Actress Drama Winner At Golden Globes 2013 http://t.co/MmUc3iPJ","{'screen_name': 'NehaThakur27', 'id': 464439857}",290675892177477632,2013-01-14 04:25:07
174620,RT @theblcklst: Black List scripts have now won 4 of the last 5 Golden Globes for Best Drama.,"{'screen_name': 'andrecole', 'id': 15146681}",290675888729780224,2013-01-14 04:25:07
174634,RT @goldenglobes: Best Television Series Actor - Drama - Damian Lewis (@Lewis_Damian) - Homeland (@SHO_Homeland) - #GoldenGlobes,"{'screen_name': 'manuelaferri5', 'id': 151819770}",290675890189381633,2013-01-14 04:25:07